<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <head>
    <link href="style.css" rel="stylesheet" type="style/css">
    <div> 
      <ul>
        <div class="wrapper"> 
          <h1>The Lion Habitat ZOO!</h1>
        </div>

       
       <h2> 
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
        <a href="/tickets"><button>TICKETS</button></a>
        <a href="/donate"><button>DONATE</button></a>
       
       

       </h2> 
       
      </ul>

    </div>
    
</head>

<style>
  
 
</style>

  <body>
    <%- include("./partials/header.ejs") %>
  
   
   
    <p>ZOO HOURS: Open Thursday - Monday from 10 am - 4 pm. 
      Timed-entry ticket requirements continue to remain in 
      effect for non-members.
    </p>
      
    <p2> 12175 Bermuda Rd, Henderson, NV 89044</p2>
      <p3>phone: 702-595-666 </p3>

  
   
    <main>

     
    </main>
  </body>
</html>